---
layout: layouts/base.njk
---

{% include "partials/navbar.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/stats.njk" %}
{% include "partials/what-is.njk" %}
{% include "partials/benefits.njk" %}
{% include "partials/how-it-works.njk" %}
{% include "partials/node.njk" %}
{% include "partials/use-cases.njk" %}
{% include "partials/cta.njk" %}
{% include "partials/footer.njk" %}
